@import "variables";

body {
    width: 100%;
    height: 100%;
    //background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

body a {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.85rem;
}

#about,
#services,
#technologies,
#case-studies,
#contact {
    padding-top: 65px;
    padding-bottom: 65px;
    border-bottom: 1px solid lightgrey;
}

.section-heading {
    margin-bottom: 30px;
    h2 {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 40px;
            border-radius: 5px;
            left: 0;
            bottom: -10px;
        }
    }
    p {
        display: none;
    }
}

.social-links {
    li {
        display: inline-block;
        margin-right: 20px;
        font-size: 1.25em;

        a {
            color: #000;
        }
    }
}

.btn {
    border-radius: 0;
    padding: .5rem 2.75rem;
    background: #000;
    color: #FFF;
}

.fit-logo {
    height: 65px;
}

header {
    transition: background-color .3s ease-in-out;

    &.scrolled {
        background: white;
        box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.1);
        .navbar-nav {
            li.nav-item {
                a.nav-link {
                    color: #000;
                    &:hover {
                        border-bottom: 1px solid #000;
                        color: #000;
                    }
                }
                &.cta-item {
                    a.nav-link {
                        border: 1px solid black;
                        background: transparent;
                        &:hover {
                            background: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .navbar-nav {
        padding: 0;

        li.nav-item {
            margin: 0 15px;

            &.cta-item {
                color: white;
                a.nav-link {
                    border: 1px solid white;
                    background: transparent;
                    padding: .5rem 1rem;
                    &:hover {
                        background: white;
                        color: #000;
                    }
                }
            }

            a.nav-link {
                color: white;
                padding: 0.5rem 0;
                &:hover {
                    border-bottom: 1px solid #fff;
                    color: #fff;
                }
            }

            &.active {
                .nav-link {
                    border-bottom: 1px solid #000;   
                }
            }
        }
        li.lang-selector {
            text-transform: uppercase;

            ul.dropdown-menu {
                min-width: unset;
            }
        }
    }
}

#cover {
    background-image: url('/src/assets/img/main-bg.jpg');
    color: #000;

    &::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        background: rgba(234, 234, 234, .4);
        left: 0;
        top: 0;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
}

#about {
    h2 {
        position: relative;
        margin-bottom: 30px;
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 40px;
            left: 0;
            bottom: -10px;
            background-color: $color-blue;
        }
    }
    background-image: url('/src/assets/img/about-bg.svg');
    background-size: 35%;
    background-position: 85% center;
    background-repeat: no-repeat;
}

#services {
    .section-heading {
        h2 {
            &::after {
                background: $color-magenta;
            }
        }
    }
    .service {
        img {
            height: 80px;
        }
        ul {
            li {
                position: relative;
                padding-left: 15px;
                margin-bottom: 5px;
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background: $color-magenta;
                    position: absolute;
                    border-radius: 5px;
                    top: 10px;
                    left: 0;
                }
            }
        }
    }
}

#technologies {
    .logos-container {
        //background: #ededed;
        overflow: hidden;
        width: 100%;
        height: 450px;
        position: relative;
        margin-left: 0;

        div {
            background: transparent;
            position: absolute;
            //animation: movelogoX 5s linear infinite;
            height: 65px;
            width: 65px;
            border-radius: 100%;
            background: white;
            box-shadow: 1px 1px 15px 1px rgba(29, 41, 78, 0.38);
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 10px;

            img {
                width: 100%;
                height: auto;
                //animation: movelogoY 3s linear infinite;     
            }
        }

        @for $i from 1 through 42 {
            $t: 10+random(30);

            .logo-#{$i} {
                top: ($i * 2%);
                position: absolute;
                animation: movelogoX #{$t}s linear infinite;
                animation-delay: -#{random(20*1000) / 1000}s;
            }
        }
    }
}

#case-studies {
    .section-heading {
        h2 {
            &::after {
                background: $color-yellow;
            }
        }
    }
    .project {
        padding-top: 25px;
        padding-bottom: 25px;
        h3 {
            display: inline-block;
        }
        border-bottom: 1px dashed lightgrey;
        &:last-of-type() {
            border-bottom: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            li{ 
                flex-basis: calc(25% - 15px);
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                position: relative;
                padding-left: 15px;
                margin-right: 15px;
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background: $color-yellow;
                    position: absolute;
                    border-radius: 5px;
                    top: 12px;
                    left: 0;
                }
                span {
                    font-weight: 600;
                    font-size: 1.15rem;
                }
            }
        }
    }
}

#contact {
    .section-heading {
        h2 {
            &::after {
                background: $color-indigo;
            }
        }
    }
    form {
        input,
        textarea,
        select {
            border-color: black;
            border-radius: 0;
            min-height: 3.25rem;

            &::placeholder {
                color: grey;
                font-size: 95%;
            }
        }

        small {
            font-size: 65%;
            color: #fff;
        }

        button[type="submit"] {
            float: right;
        }
    }
}

footer {
    padding-top: 65px;
    padding-bottom: 65px;

    nav {
        ul.navbar-nav {
            flex-direction: row;
            justify-content: center;

            li {
                margin: 0 15px;
                a {
                    border-bottom: 1px solid transparent;
                    &:hover {
                        color: #000;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }

    small {
        display: block;

        &.made-with {
            span:first-of-type {
                color: black;
            }

            span:last-of-type {
                color: #ee6161;
            }
        }
    }

    .licence-cont {
        img {
            width: 70px;
        }

        small {
            font-size: .7rem;
        }
    }
}
@media all and (max-width: 450px) {
    #cover {
        h2 {
            padding-top: 60px;
        }
    }
    h2 {
        font-size: 2rem;
    }
}

@media all and (max-width:768px) {
    #about {

    }

    footer {
        nav {
            ul.navbar-nav {
                flex-direction: column;

                li {
                    margin: 0 15px;
                }
            }
        }
    }
}

@media all and (max-width:991px) {
    header {
        background: white;

        nav {
            .navbar-brand {
                .fit-logo {
                    height: 50px;
                }
            }
            #nav-collapse {
                height: 100vh;
                transition: none;
            ul.navbar-nav {
                height: 70vh;
                margin-top: 10vh;
                justify-content: space-around;
                align-items: center;
                li.nav-item {
                    margin: 0;

                    a.nav-link {
                        color: #000;
                        font-size: 1.25rem;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            color: #000;
                            border-bottom: 1px solid #000;
                        }
                    }

                    &.cta-item {
                        border: none;
                        color: black;
                        a.nav-link {
                            background: transparent;
                            padding: .5rem 1rem;
                        }
                    }
                }
            }
        }
        #navbar-toggle[aria-expanded="false"]{
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Crect y='4' width='15' height='1.9'/%3E%3C/g%3E%3Cg%3E%3Crect x='5' y='9.1' width='10' height='1.9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")!important;
            /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;*/
            }
        }
        #navbar-toggle[aria-expanded="true"]{
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Crect x='6.6' y='0' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -3.1066 7.5)' width='1.9' height='15'/%3E%3C/g%3E%3Cg%3E%3Crect x='0' y='6.6' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -3.1066 7.5)' width='15' height='1.9'/%3E%3C/g%3E%3C/svg%3E%0A")!important;
            }
        }
        }
    }

    #case-studies {
        .case-details {
            ul {
                li {
                    flex-basis: 100%;
                }
            }
        }
    }
}

@keyframes movelogoX {
    0% {
        right: -50px;
    }

    100% {
        right: 100%;
    }
}

@keyframes movelogoY {
    0% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(-30%);
    }
}